[submodule "external/mcuboot"]
	path = external/mcuboot
	url = https://github.com/mcu-tools/mcuboot.git
	branch = v2.1.0
[submodule "external/tinycrypt"]
	path = external/tinycrypt
	url = https://github.com/intel/tinycrypt.git
[submodule "external/lwrb"]
	path = external/lwrb
	url = https://github.com/MaJerle/lwrb.git
	branch = v3.2.0
